<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Result</title>
    </head>
    <body>
        <h1>Your Result Form</h1>
        <form action="/submitx", method="post">
            <label for="Science">Science:</label><br>
            <input type="text", id="science", name="science", value='0', required><br>
            <label for="Maths">Maths:</label><br>
            <input type="text", id="maths", name="maths", value='0', required><br>
            <label for="English">English:</label><br>
            <input type="text", id="english", name="english", value='0', required><br>
            <label for="Computer">Computer:</label><br>
            <input type="text", id="computer", name="computer", value='0', required><br>
            <label for="Hindi">Hindi:</label><br>
            <input type="text", id="hindi", name="hindi", value='0', required><br>
            <label for="Sanskrit">Sanskrit:</label><br>
            <input type="text", id="sanskrit", name="sanskrit", value='0', required><br>
            <input type="submit" value="Submit">
        </form>
        <p>If you click the "submit" button, the form-data will be sent to a page called "/submit"</p>
</html>   